*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store

.classpath

.settings/org.eclipse.core.resources.prefs

.project

.settings/org.eclipse.m2e.core.prefs

bin/.gitignore

bin/.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

bin/.settings/org.eclipse.m2e.core.prefs

bin/pom.xml

bin/target/classes/META-INF/MANIFEST.MF

bin/README.md

bin/target/classes/META-INF/maven/com.guigarage/jgridfx/pom.properties

bin/target/classes/META-INF/maven/com.guigarage/jgridfx/pom.xml

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/com.guigarage/gridfx-demos/pom.properties

target/classes/META-INF/maven/com.guigarage/gridfx-demos/pom.xml
